<h2 class="logo">商品管理系统</h2>
<ul nz-menu nzMode="horizontal" nzTheme="dark">
        <li nz-submenu nzTitle="基础功能" nzIcon="appstore">
            <ul>
                <li nz-menu-item style="text-align: center;">日志管理</li>
                <li nz-menu-item style="text-align: center;" routerLink="/users">用户管理</li>
            </ul>
        </li>
        <li nz-submenu nzTitle="商品管理" nzIcon="setting" routerLink="/goods"> 
          <ul>
            <li nz-menu-item style="text-align: center;">商品出货管理</li>
            <li nz-menu-item style="text-align: center;">商品进货管理</li>
          </ul>
        </li>
        <li nz-menu-item>
            <i nz-icon nzType="bar-chart"></i>
            月结统计
        </li>
</ul>