<h2 style="margin-left: 200px;margin-bottom: 30px;">出货单据</h2>
        <form nz-form [formGroup]="importForm" (ngSubmit)="submitForm()">
                <nz-form-item>
                        <nz-form-label [nzSpan]="7" nzRequired>商品信息</nz-form-label>
                        <nz-form-label [nzSpan]="7" nzRequired>商品名称:{{good.gname}}</nz-form-label>
                        <nz-form-label [nzSpan]="7" nzRequired>商品单价:{{good.price}}</nz-form-label>
                        <nz-form-label [nzSpan]="7" nzRequired>商品名称:{{good.gname}}</nz-form-label>
                    </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>出货单号</nz-form-label>
                    <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="请输入正确的单号!">
                        <input nz-input formControlName="importID" placeholder="填写单号" type="text" />
                        <ng-template  let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                请输入正确的单号!
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>买家</nz-form-label>
                    <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="请输入买家信息!">
                        <input nz-input formControlName="buyer" placeholder="填写买家姓名" type="text" />
                        <ng-template  let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                请输入买家信息!
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                        <nz-form-label [nzSpan]="7" nzRequired>买家联系电话</nz-form-label>
                        <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="请输入买家联系电话!">
                            <input nz-input formControlName="phone" placeholder="填写买家联系电话" type="text" />
                            <ng-template  let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                    请输入买家联系电话!
                                </ng-container>
                                <ng-container *ngIf="control.hasError('mobileValidator')">
                                        请填写正确联系电话!
                                    </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired style="display: inline-block;">数量</nz-form-label>
                    <nz-form-control [nzSpan]="12" nzHasFeedback style="width: 100px;">
                    <nz-input-number formControlName="count" [nzMin]="0" [nzStep]="1"></nz-input-number>
                    </nz-form-control>
                     <nz-form-label [nzSpan]="7" nzRequired style="display: inline-block;width: 100px;margin-left: 20px;">单价（个/元）</nz-form-label>
                        <nz-form-control [nzSpan]="12" nzHasFeedback style="width: 100px;">
                            <nz-input-number formControlName="price" [nzMin]="0" [nzStep]="1"></nz-input-number>
                        </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>总价（元）</nz-form-label>
                    <nz-form-control [nzSpan]="12" nzHasFeedback>
                        <nz-input-number formControlName="totalPrice" [nzMin]="0" (nzFocus)="countTotalPrice()"></nz-input-number>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                        <nz-form-label [nzSpan]="7">说明</nz-form-label>
                        <nz-form-control [nzSpan]="12" nzHasFeedback>
                            <textarea nz-input formControlName="detial" rows="5" placeholder="填写出货单说明"></textarea>
                        </nz-form-control>
                    </nz-form-item>
                <nz-form-item>
                    <button nz-button [nzType]="'primary'" [disabled]="!importForm.valid" style="margin-left: 600px;width: 200px;height: 50px;">
                        <span>确定</span>
                    </button>
                </nz-form-item>
        </form>