<nz-layout>
    <nz-header>
        <app-head></app-head>
    </nz-header>
    <nz-content style="margin: 50px;">
        <form nz-form [formGroup]="importForm" (ngSubmit)="submitForm()">
                <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>进货单号</nz-form-label>
                    <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="请输入正确的单号!">
                        <input nz-input formControlName="importID" placeholder="填写单号" type="text" />
                        <ng-template  let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                请输入正确的单号!
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>商品名称</nz-form-label>
                    <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="请输入正确的商品名称!">
                        <input nz-input formControlName="gname" placeholder="填写商品名称" type="text" />
                        <ng-template  let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                请输入正确的商品名称!
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>进货商</nz-form-label>
                    <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="请输入正确的进货商名称!">
                        <input nz-input formControlName="shipper" placeholder="填写进货商名称" type="text" />
                        <ng-template  let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                请输入正确的进货商名称!
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>进货商联系电话</nz-form-label>
                    <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="请输入正确的电话号码!">
                        <input nz-input formControlName="phone" placeholder="填写进货商联系电话" type="text" />
                        <ng-template  let-control>
                            <ng-container *ngIf="control.hasError('mobileValidator')">
                                 请输入正确的电话号码!
                            </ng-container>
                            <ng-container *ngIf="control.hasError('required')">
                                请输入电话号码!
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired style="display: inline-block;">进货数量</nz-form-label>
                    <nz-form-control [nzSpan]="12" nzHasFeedback style="width: 100px;">
                    <nz-input-number formControlName="count" [nzMin]="0" [nzStep]="1"></nz-input-number>
                    </nz-form-control>
                     <nz-form-label [nzSpan]="7" nzRequired style="display: inline-block;width: 100px;margin-left: 20px;">单价（个/元）</nz-form-label>
                        <nz-form-control [nzSpan]="12" nzHasFeedback style="width: 100px;">
                            <nz-input-number formControlName="price" [nzMin]="0" [nzStep]="1"></nz-input-number>
                        </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>总价（元）</nz-form-label>
                    <nz-form-control [nzSpan]="12" nzHasFeedback>
                        <nz-input-number formControlName="totalPrice" [nzMin]="0" (nzFocus)="countTotalPrice()"></nz-input-number>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                        <nz-form-label [nzSpan]="7">说明</nz-form-label>
                        <nz-form-control [nzSpan]="12" nzHasFeedback>
                            <textarea nz-input formControlName="detial" rows="5" placeholder="填写进货单说明"></textarea>
                        </nz-form-control>
                    </nz-form-item>
                <nz-form-item>
                    <button nz-button [nzType]="'primary'" [disabled]="!importForm.valid" style="margin-left: 600px;width: 200px;height: 50px;">
                        <span>进货单提交</span>
                    </button>
                </nz-form-item>
        </form>
    </nz-content>
</nz-layout>